*{
    box-sizing:border-box;
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-size:175%;
    margin-bottom: 5%;
}
p{
  padding:5%;
  margin-top: 9%;

}
span{
  position:absolute;
  right: 0px;
  border: solid black 1px;
  padding: 2%;
  background-color:darksalmon;
  font-size: 125%;
  
  
}
#dish2{
  background-color:rgb(4, 236, 236);
  color:red;
}
#dish3{
  background-color:rgb(241, 226, 15);
  color:blue


}

section{
  position:relative;
  background-color:cadetblue;
 
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-desk{
    width :26.66%;
    float:left;
    margin-left:5%;
    margin-bottom: 5%;
    border: solid black 1px;
  }
    
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
   .col-tab-1{
     width:90%;
     float:left;
     margin-left:5%;
     margin-bottom: 5%;
     border: solid black 1px;
   }
   .col-tab-2{
     width:42.5%;
     float:left;
     margin-left:5%;
     margin-bottom: 5%;
     border: solid black 1px;
  
   }
  }
  @media (max-width:767px){
  .col-mobile{
    width:90%;
    float:left;
    margin-left:5%;
    margin-bottom: 5%;
    border: solid black 1px;
  }
      
  }